<div class="containerStyle">
  
  <mdb-card style="margin:1rem; width: 100%">
    <mdb-card-title>
        <h4>
            Daily Mood tracker
            
        </h4>
        </mdb-card-title>
    <mdb-card-body style="padding-top:0">
        <div *ngIf="!this.noData" id="trackerDiv" style="width:90%"></div>
        <div *ngIf="this.noData" style="text-align:center">
          No data to chart. Start adding some entries to see the chart growing.
        </div>
    </mdb-card-body>
  </mdb-card>
  <mdb-card style="margin:1rem;width: 100%">
    <mdb-card-title>
        <h4>
           Mood Count
            
        </h4>
        </mdb-card-title>
    <mdb-card-body style="padding-top:0">
        <div *ngIf="!this.noData" id="countDiv" style="width:90%"></div>
        <div *ngIf="this.noData">
          No data to chart. Start adding some entries to see the chart growing.
        </div>
    </mdb-card-body>
  </mdb-card>
  <mdb-card style="margin:1rem;width: 100%">
    <mdb-card-title>
         <h4>
            Average Daily Mood
            
        </h4>
        </mdb-card-title>
    <mdb-card-body style="padding-top:0">
        <div *ngIf="!this.noData" id="dayDiv" style="width:90%"></div>
        <div *ngIf="this.noData">
          No data to chart. Start adding some entries to see the chart growing.
        </div>
    </mdb-card-body>
  </mdb-card>
    <!--br>
    <h4>Daily Mood tracker</h4>
    <div id="trackerDiv" style="width:100%"></div>
    <br>
    <br>
    <h4>Mood Count</h4>
    <div id="countDiv" style="width:100%"></div>
    <br>
    <h4>Average Daily Mood</h4>
    <div id="dayDiv" style="width:100%"></div-->
</div>
<br>
  <br>
  <br>
