.containerStyle{
    width:100%; 
    flex-direction: column;
    //height:100px;
    padding:1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
}

mdb-card-body{
    display: flex;
    align-items: center;
    justify-content: center;
}

h4{
    padding:1rem;
    color:white;
    background-color: purple;
    text-align: center;
}