
<div class="container">
    
    <div class="row" >
        
          
        <app-calendar-block style="width:100%"></app-calendar-block>
    </div>
    <br>
    <div class="row" >
        <app-emoji-block style="width:100%;"></app-emoji-block>
      
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-12">
        <div class="md-form textForm">
          <input mdbInput type="text" id="form1" class="form-control" [(ngModel)]="this.moodData.currFeeling">
          <label for="form1" class="">Notes</label>
        </div>
        <div style="margin:1rem;">
          &nbsp;
        </div>
        <div class="row flexBox">
          <div class="col-6">
              <button routerLink="/journal" style="width:100%; color: purple; border:1px solid purple" class="btn btn-outline" type="button">Skip to Journal</button>
          </div>
          <div class="col-6">
              <button style="width:100%;color: purple; border:1px solid purple" class="btn btn-outline" (click)="this.saveFeeling()" type="button">Save and continue</button>
          </div>
          
        </div>
      </div>
    </div>
    
  </div>
  <br>
  <br>
  <br>


<div mdbModal #errorModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="errorModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Oops</h4>
      </div>
      <div class="modal-body">
        Please click on an emoticon to save emotion. ;)
      </div>
      <div class="modal-footer">
        <button size="sm" type="button" mdbBtn color="purple" class="waves-light" aria-label="Close" (click)="errorModal.hide()" mdbWavesEffect>Close</button>
        
      </div>
    </div>
  </div>
</div>
  