.happy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}



i{
    cursor: pointer;
}

.flexBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dateBlock .timeBlock{
    margin: 1rem;
    //flex:1;
}

.textRow{
    align-items: flex-start;
    justify-content: space-evenly;
    display: flex;
    height: 40vh;
    //width: 100vw;
    margin-left: -15px;
    margin-right: -15px;
    
    
}

.textForm{
    //margin:0px;
    flex-grow: 100;
    //margin-left:1rem;
    //margin-right: 1rem;
    margin-top:0;
    //width: 100%;
    
}

#datepicker{
	max-width: 500px;
	height: 50px;
	width: 50%;
}

.d-table { 
    display: flex !important;
}


 





