
<div class="container">
    
    <div class="row" >
        
          
        <app-calendar-block style="width:100%"></app-calendar-block>
    </div>
    <br>
    <div class="row" >
        <app-emoji-block style="width:100%;"></app-emoji-block>
      
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-12">
        <div class="md-form textForm">
          <input mdbInput type="text" id="form1" class="form-control" [(ngModel)]="this.moodData.currFeeling">
          <label for="form1" class="">Notes</label>
        </div>
        <div style="margin:1rem;">
          &nbsp;
        </div>
        <div class="row flexBox">
          <div class="col-6">
              <button routerLink="/journal" style="width:100%; color: purple; border:1px solid purple" class="btn btn-outline" type="button">Skip to dashboard</button>
          </div>
          <div class="col-6">
              <button routerLink="/journal" style="width:100%;color: purple; border:1px solid purple" class="btn btn-outline" (click)="this.saveFeeling()" type="button">Save and continue</button>
          </div>
          
        </div>
      </div>
    </div>
    
  </div>
  <br>
  <br>
  <br>
  