.ecstatic{
    color: #EDA479;
}

.happy{
    color: rgb(2, 163, 96);
}

.meh{
    color: #9AD9DB;
}

.sad{
    color: #A3A7B0;
}

.crying{
    color:  #2c345c;
}

.flexBox{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.outer{
    width: 100%;
  margin-left: 10px;
  margin-right: 10px
}
;