.ecstatic{
    background-color: #EDA479;
}

.happy{
    background-color: rgb(2, 163, 96);
}

.meh{
    background-color: #9AD9DB;
}

.sad{
    background-color: #A3A7B0;
}

.crying{
    background-color:  #2c345c;
}